<div class="container">
  <br>
   <div class="row">
           <br>
           <div class="col-12" >
                <h1>Upcoming Events</h1>
             <form class="form-inline my-3 my-lg-3">
                     <input id="search" class="form-control mr-sm-0" type="text" placeholder="Search Events" aria-label="Search">
                     <input class="form-control my-2 my-sm-0" type="text" placeholder="Enter a city" aria-label="Search">
                     <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  All dates
                                </button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                  <a class="dropdown-item" >All dates</a>
                                  <a class="dropdown-item" >Today</a>
                                  <a class="dropdown-item" >Tomorrow</a>
                                  <a class="dropdown-item" >This weekend</a>
                                </div>
                              </div>
                     <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
             </form>
     </div>


   </div>
<hr>
<br>
<div class="card-columns">
   <div *ngFor="let event of events ">
           <div class="card">
                <div *ngFor="let e of eventsImages | async">
                        <div *ngIf="  event.EventId == val(e.id)">
                                <img  class="card-img-top" [src]="e.imageurl" alt="Card image cap">
                        </div>         
                </div>
                <div class="card-body">
                        <h3 class="card-title">{{event.eventTitle}}</h3> <h6>{{event.eventStartDate | date:'medium' }}  </h6> 
                        <h6 class="font-weight-light">{{event.eventStreet}}</h6>
                        <h5><span class="badge badge-info font-weight-light">{{event.eventPostcode}}</span></h5>   
                </div>
                <div class="card-footer ">
                           <button  class="btn btn-outline-primary btn-sm" [routerLink]="['/event', event.EventId]"><i class="fa fa-pencil" aria-hidden="true"></i> Edit </button>
                           <button  class="btn btn-outline-danger btn-sm" (click)="deleteEvent(event)"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete </button>
                </div>
           </div>      
   </div>
</div>
</div>
<br>
<br>

